@media screen and (min-width: 1024px) {
  .sidenav::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
  }

  .sidenav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 4px;
  }

  .sidenav::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: auto;
  right: 0;
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a:not(.closebtn) {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:not(.closebtn):hover {
  color: #f1f1f1;
}

.sidenav:not(.isOpen) .closebtn {
  display: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  right: 25px;
}

.sidenav .closebtn:hover {
  text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.btn-open-comment {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}